@model eCatalog.ViewModel.HandphoneViewModel.HandphoneIndexListViewModel

<div class="col-md-12">
    @Html.HiddenFor(model => model.PageIndex)
    @Html.HiddenFor(model => model.PageCounts)
    @{ int i = 0;}
    @foreach (var item in Model.Handphone)
    {
        if ((i % 4) == 0)
        {
            @:<div class="product-one">
        }
        <div class="col-md-3 product-left p-left">
            <div class="product-main simpleCart_shelfItem">
                @if (item.ImageUrl == null || item.ImageUrl == "")
                {
                    <a href="@Url.Action("Details", "Handphone", new { id = item.Id })" class="mask"><img class="img-responsive zoom-img" src="~/Images/NoImage.jpg" alt="" style="object-fit:cover;" /></a>
                }
                else
                {
                    <a href="@Url.Action("Details", "Handphone", new { id = item.Id })" class="mask"><img class="img-responsive zoom-img" src="@item.ImageUrl" alt="" style="object-fit:cover;" /></a>
                }
                <div class="product-bottom">
                    <h3>@item.Name</h3>
                    <p>@item.Brand.Name</p>
                    <h4> <span class=" item_price">Rp. @item.SellPrice</span></h4>
                </div>
            </div>
        </div>

        if ((i % 4) == 3)
        {
            @:<div class="clearfix"></div>
            @:</div>
        }
        i++;
    }
    <div class="clearfix"></div>
</div>