@model eCatalog.ViewModel.AdminViewModel.AdminHandphoneViewModel

@Html.Hidden("HandphonePageCounts", Model.PageCounts)
@Html.Hidden("HandphonePageIndex", Model.PageIndex)
<table class="table table-bordered table-striped table-responsive text-center">
    <thead>
        <tr>
            <td>Nama Handphone</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Handphone)
        {
            <tr>
                <td>@item.Name</td>
                <td><a href="@Url.Action("AddHandphone", new { id = item.Id})" class="btn btn-primary">Edit</a></td>
                <td><a href="@Url.Action("DeleteHandphone", new { id = item.Id})" class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
<div class="col-md-12">
    <button class="btn btn-info btn-toggle-handphone" id="btn-previous-handphone" value="0">Prev</button>
    <button class="btn btn-info pull-right btn-toggle-handphone" id="btn-next-handphone" value="1">Next</button>
</div>