<!DOCTYPE html>
@model IEnumerable<eCatalog.Core.HandphoneClass.Handphone>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bnr" id="home">
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <img src="/Assets/images/iphone7.jpg" />
            </li>
            <li>
                <img src="/Assets/images/samsungs6.jpg" />
            </li>
            <li>
                <img src="/Assets/images/samsungs7.jpg" />
            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
<!--banner-ends-->
<!--Slider-Starts-Here-->
<script src="/Assets/js/responsiveslides.min.js"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider4").responsiveSlides({
            auto: true,
            pager: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>
<!--End-slider-script-->
<!--product-starts-->
<div class="col-md-12">
    <br />
    <center><h2>Popular Phone</h2></center>
    

    <div class="clearfix"></div>
    <br />
    @{ int i = 0;}
    @foreach (var item in Model)
    {
        if ((i % 4) == 0)
        {
            @:<div class="product-one">
        }
        <div class="col-md-3 product-left p-left">
            <div class="product-main simpleCart_shelfItem">
                @if (item.ImageUrl == null || item.ImageUrl == "")
                {
                    <a href="@Url.Action("Details", "Handphone", new { id = item.Id })" class="mask"><img class="img-responsive zoom-img" src="~/Assets/images/p-1.png" alt="" /></a>
                }
                else
                {
                    <a href="@Url.Action("Details", "Handphone", new { id = item.Id })" class="mask"><img class="img-responsive zoom-img" src="@item.ImageUrl" alt="" /></a>
                }
                <div class="product-bottom">
                    <h3>@item.Name</h3>
                    <p>@item.Brand.Name</p>
                    <h4> <span class=" item_price">Rp. @item.SellPrice</span></h4>
                </div>
            </div>
        </div>

        if ((i % 4) == 3)
        {
            @:<div class="clearfix"></div>
            @:</div>
        }
        i++;
    }
</div>
<div class="clearfix"></div>
