<!DOCTYPE html>
@model IEnumerable<eCatalog.Core.HandphoneClass.Handphone>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bnr" id="home">
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <img src="/Assets/images/iphone7.jpg" />
            </li>
            <li>
                <img src="/Assets/images/samsungs6.jpg" />
            </li>
            <li>
                <img src="/Assets/images/samsungs7.jpg" />
            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
<!--banner-ends-->
<!--Slider-Starts-Here-->
<script src="/Assets/js/responsiveslides.min.js"></script>
<script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });

			    });
</script>
<!--End-slider-script-->
<!--about-starts-->
<div class="about">
    <div class="container">
        <div class="about-top grid-1">
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="~/Assets/images/abt-1.jpg" alt="" />
                    <figcaption>
                        <h2>Nulla maximus nunc</h2>
                        <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="~/Assets/images/abt-2.jpg" alt="" />
                    <figcaption>
                        <h4>Mauris erat augue</h4>
                        <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 about-left">
                <figure class="effect-bubba">
                    <img class="img-responsive" src="~/Assets/images/abt-2.jpg" alt="" />
                    <figcaption>
                        <h4>Cras elit mauris</h4>
                        <p>In sit amet sapien eros Integer dolore magna aliqua</p>
                    </figcaption>
                </figure>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--about-end-->
<!--product-starts-->
<div class="col-md-12">
    <center><h2>Popular Phone</h2></center>
</div>
<div class="clearfix"></div>
<div class="product">
    <div class="container">
        <div class="product-top">
            <div class="product-one">
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="@Url.Action("Details", "Handphone" ,new {id=1 })" class="mask"><img class="img-responsive zoom-img" src="~/Assets/images/p-1.png" alt="" /></a>
                        <div class="product-bottom">
                            <h3>Smart Watches</h3>
                            <p>Explore Now</p>
                            <h4></i></a> <span class=" item_price">Rp 329</span></h4>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="@Url.Action("Details", "Handphone", new {id =2 })" class="mask"><img class="img-responsive zoom-img" src="~/Assets/images/p-2.png" alt="" /></a>
                        <div class="product-bottom">
                            <h3>Smart Watches</h3>
                            <p>Explore Now</p>
                            <h4></i></a> <span class=" item_price">Rp 329</span></h4>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="@Url.Action("Details", "Handphone", new {id =3 })" class="mask"><img class="img-responsive zoom-img" src="~/Assets/images/p-3.png" alt="" /></a>
                        <div class="product-bottom"> 
                            <h3>Smart Watches</h3>
                            <p>Explore Now</p>
                            <h4></i></a> <span class=" item_price">Rp 329</span></h4>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">  @*new {id=1 }*@
                        <a href="@Url.Action("Details", "Handphone", new {id =4 })" class="mask"><img class="img-responsive zoom-img" src="~/Assets/images/p-4.png" alt="" /></a>
                        <div class="product-bottom">
                            <h3>Smart Watches</h3>
                            <p>Explore Now</p>
                            <h4></i></a> <span class=" item_price">Rp 329</span></h4>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="product-one">
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="@Url.Action("Details", "Handphone", new {id =5 })" class="mask"><img class="img-responsive zoom-img" src="~/Assets/images/p-5.png" alt="" /></a>
                        <div class="product-bottom">
                            <h3>Smart Watches</h3>
                            <p>Explore Now</p>
                            <h4></i></a> <span class=" item_price">Rp 329</span></h4>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="@Url.Action("Details", "Handphone", new {id =6 })"   class="mask"><img class="img-responsive zoom-img" src="~/Assets/images/p-6.png" alt="" /></a>
                        <div class="product-bottom">
                            <h3>Smart Watches</h3>
                            <p>Explore Now</p>
                            <h4></i></a> <span class=" item_price">Rp 329</span></h4>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="@Url.Action("Details", "Handphone", new {id =7 })"   class="mask"><img class="img-responsive zoom-img" src="~/Assets/images/p-7.png" alt="" /></a>
                        <div class="product-bottom">
                            <h3>Smart Watches</h3>
                            <p>Explore Now</p>
                            <h4></i></a> <span class=" item_price">Rp 329</span></h4>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 product-left">
                    <div class="product-main simpleCart_shelfItem">
                        <a href="@Url.Action("Details", "Handphone", new {id =8 })" class="mask"><img class="img-responsive zoom-img" src="~/Assets/images/p-8.png" alt="" /></a>
                        <div class="product-bottom">
                            <h3>Smart Watches</h3>
                            <p>Explore Now</p>
                            <h4></i></a> <span class=" item_price">Rp 329</span></h4>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>